{% extends "admin/login.html" %}

{% load i18n %}

{% block extrahead %}{{ block.super }}
<style>
.admin-sso {
  border-bottom: 1px solid #ccc;
  padding: 0 0 .75rem 0;
  margin: 0 0 .25rem 0;
  text-align: center;
}
.admin-sso .button {
  padding: 10px 15px;
  display: inline-block;
}
@media (max-width: 767px) {
  .admin-sso .button {
    display: block;
  }
}
</style>
{% endblock %}

{% block content %}
<div class="admin-sso">
  <a class="button" href="{% url 'admin_oauth' %}?next={{ request.GET.next }}">{% trans "Log in using SSO" %}</a>
</div>
{{ block.super }}
{% endblock content %}
