{% extends "base.html" %}

{% load i18n %}

{% block content %}

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">{% trans 'Submit' %}</button>
</form>

<div class="row">
  <div class="small-12 columns">
    <a href="{% url 'accounts_oauth_facebook' %}">Facebook</a>
    <a href="{% url 'accounts_oauth_google' %}">Google</a>
    <a href="{% url 'accounts_oauth_twitter' %}">Twitter</a>
    <a href="{% url 'email_registration' %}">Magic link by Email</a>
  </div>
</div>

{% endblock %}
